* {
  line-height: 1.618em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {    
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: 'Sarabun', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

.topHalf {
  background-image: url(/images/mountain02\ -\ Copy.jpg);
  background-size: cover;
  background-position: center;
}

.bottomHalf {
  background-image: url(/images/moon04.jpg);
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .bottomHalf{
    background-position-x: -300px;
  }
}

header {
  padding-bottom: 4rem;
}

h1 {
  font-family: 'Parisienne', cursive;
  line-height: 1.5em;
  text-align: center;
  font-size: 8rem;
  font-weight: bold;
  padding: 5rem 0 0 0;
  color: white;
  text-shadow: 2px 2px 3px black;
}

h2 {
  color: white;
  text-shadow: 2px 2px 3px black;
  text-align: center;
  padding-top: 3rem;
  font-size: 5rem;
  font-weight: bold;
}

h3 {
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
    margin: 0;
    padding: 2rem 0 0 0;
    line-height: 1em;
  }
  h2 {
    font-size: 3rem;
    padding-top: 0;
  }
  h3 {
    padding-top: 3rem;
    font-size: 2rem;
  }
}

#aboutMe {
  color: white;
  text-shadow: 2px 2px 3px black;
  background-size: cover;
  text-align: center;
  height: auto;
}

#aboutMe article {
  padding: 3rem 10rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  #mypic{
    width: 200px;
  }

  .mypiceffect{
    width: 150px;
  }

  #aboutMe article {
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
  }
}

#mypic {
  border-radius: 50%;
}

.mypiceffect {
  margin: 0 auto;
  position: relative;
  }
  
.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  }
  
  .mypiceffect:hover .overlay {
    opacity: .5;
  }
  
  .mypictext {
    color: white;
    font-size: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 768px) {
    .mypictext {
      font-size: 2rem;
    }
    .mypiceffect {
      width: auto;
    }
  }
#projects {
    padding-bottom: 5rem;
}

#projects h2 {
    color: white;
    text-shadow: 2px 2px 3px black;
}

#projects h3 {
  color: white;
  text-shadow: 2px 2px 3px black;
}

#projects img {
  border: 3px solid grey;
}

#contact {
  margin-top: 1rem;
  padding-bottom: 7rem;
  text-shadow: 2px 2px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    flex-wrap: wrap;
}

#contact a {
    text-decoration: none;
    color: whitesmoke;
}

#contact a:hover {
    color: rgb(0, 124, 155);
}

#contacts {
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    margin: 0 auto;
    border-radius: 1rem;
    width: 473px;
}

@media screen and (max-width: 768px) {
  #contact {
    font-size:1.5rem;
  }
  #contacts {
    list-style: initial;
    font-size: 2rem;
    width: auto;
  }
}

@media screen and (max-width: 530px) {
  #contacts {
    font-size: 1.2rem;
  }
}

nav {
    background-color: rgba(0, 0, 0, 0.795);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

nav a {
    border-radius: 1rem;
    transition: margin .3s ease;
    font-size: 20px;
    padding: 1rem 2em;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 1px 2px 2px black;
}

 .navbar {
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 769px) {
  .navbar {
    display: flex;
    padding-bottom: 0;
    height: 65px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}

footer {
  background-color: black;
  color: whitesmoke;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/* SLIDESHOW */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

@media only screen and (max-width: 515px) {
  .slideshow-container {
    max-width: 300px;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  text-shadow: 2px 2px 2px black;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.slideshow-container img {
  width:auto;
}

/* ICON GROW */
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* SHUTTER OUT VERTICAL */
  .hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
    background: rgb(0, 124, 155);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color: white;
  }
  .hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

.colla {
  background-color: rgb(0, 124, 155);
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.activate, .colla:hover {
  background-color: rgb(97, 97, 97);
}

.stuff {
  text-align: center;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* MODAL BOX */
.modal {
  text-shadow: none;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

@media only screen and (max-width: 515px) {
  .modal {
    margin-top: 10vh;
    padding: 0;
  }
}

/* Modal Content */
.modal-content {
  border-radius: 10px;
  background-color: rgb(0, 124, 155);
  margin: auto;
  padding: 5rem 2rem;
  border: 1px solid white;;
  width: 80%;
}

@media only screen and (max-width: 515px) {
  .modal-content {
    padding: 1rem;
  }
}

.modal-content p {
  line-height: 2rem;
}

.close {
  padding-right: 1rem;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  font-size: 3rem;
  color: rgb(0, 124, 155);
  padding-bottom: 2rem;
}

#myBtn:hover {
  color: white;
  cursor: pointer;
}

#techStack {
  font-size: 2rem;
  padding-bottom: 2rem;
}