:root {
    --secondary-color: #a3abba63;
    --background-color: #222225;
    --font-color: #e8e9ed;
}

body {
  max-width: 600px;
  padding: 20px;
  margin: auto;
}

h1 {
  text-align: center;
}

.work-title .work-header {
  font-weight: bold;
}

.work-technologies {
  margin: 5px;
  font-weight: bold;
}

#work-history-buttons {
  padding: 20px;
}

.swiper {
  border: 1px solid white;
  max-width: 600px;
  height: 300px;
  text-align: center;
}

.swiper-slide-img {
  height: 200px;
  width: auto;
  margin: auto;
}